<nav>
  <div class="container">
    <ul>
      <!--women-helping-women-->
      <li>{{#link-to "mentorship-program"}}Women: Get Involved{{/link-to}}</li>
      <li>{{#link-to "sponsors"}}Become a Sponsor{{/link-to}}</li>
      <li>{{#link-to "code-of-conduct"}}Code of Conduct{{/link-to}}</li>
      <li>{{#link-to "faqs"}}FAQs{{/link-to}}</li>
    </ul>
    <ol>
      <li>Past EmberConfs:</li>
      <li><a href="https://2014.emberconf.com/">2014</a></li>
      <li><a href="https://2015.emberconf.com/">2015</a></li>
      <li><a href="https://2016.emberconf.com/">2016</a></li>
      <li><a href="https://2017.emberconf.com/">2017</a></li>
      <li><a href="https://2018.emberconf.com/">2018</a></li>
    </ol>
    <p class="copyright"><a href="https://tilde.io/">© 2018 Tilde Inc</a></p>
  </div>
</nav>
