<div class="container">
  <h2>Presented by <a href="https://skylight.io/" target="_blank"><img src="./images/skylight-logo.svg" alt="Skylight" title="Skylight"></a> and sponsors:</h2>
  <ol>
    <li class="diamond">
      <div>
        <h3>Diamond</h3>
        <ul>
          <li>
            <a href="https://redshelf.com/" target="_blank"><img alt="RedShelf" src="./images/redshelf-logo.png"></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="gold">
      <div>
        <h3>Gold</h3>
        <ul>
          <li>
            <a href="https://www.crowdstrike.com/" target="_blank"><img alt="CrowdStrike" src="./images/crowdstrike-logo.png"></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="silver">
      <div>
        <h3>Silver</h3>
        <ul>
          <li>
            <a href="http://simplabs.com/" target="_blank"><img alt="simplabs" src="./images/simplabs-logo.svg"></a>
          </li>
          <li>
            <a href="http://www.embermap.com/" target="_blank"><img alt="EmberMap" src="./images/embermap-logo.svg"></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="bronze">
      <div>
        <h3>Bronze</h3>
        <ul>
          <li>
            <a href="https://shipshape.io/" target="_blank"><img alt="ShipShape" src="./images/shipshape-logo.svg"></a>
          </li>
        </ul>
      </div>
    </li>
  </ol>
</div>
