  <div class="container">
    <ol>
      <li class="pre-conf-activities">
        <a href="#pre-conf-activities">
          <div class="wrapper">
            <div class="gantt-header">
              <h3>Pre-Conf Activities</h3>
              <p>Monday, March 18</p>
            </div>
            <div class="gantt-container">
              <ul class="gantt-lines">
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
              </ul>
              <div class="gantt-chart">
                <dl class="gantt-bars gantt-bars registration-training-only"><dt style="--range-start: 1800;" title="Registration (Training Only)">Registration (Training Only)</dt>
                  <dd class="registration-training-only" style="--range-start: 1800; --duration: 3600;" title="08:30AM - 09:30AM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars registration-all"><dt style="--range-start: 5400;" title="Registration (All)">Registration (All)</dt>
                  <dd class="registration-all" style="--range-start: 5400; --duration: 25200;" title="09:30AM - 04:30PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars trainings-bonus-sessions"><dt style="--range-start: 3600;" title="Trainings / Bonus Sessions">Trainings / Bonus Sessions</dt>
                  <dd class="trainings-bonus-sessions" style="--range-start: 3600; --duration: 10800;" title="09:00AM - 12:00PM"></dd>
                  <dd class="trainings-bonus-sessions" style="--range-start: 18000; --duration: 14400;" title="01:00PM - 05:00PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars walking-tours"><dt style="--range-start: 7200;" title="Walking Tours">Walking Tours</dt>
                  <dd class="walking-tours" style="--range-start: 7200; --duration: 10800;" title="10:00AM - 01:00PM"></dd>
                  <dd class="walking-tours" style="--range-start: 21600; --duration: 10800;" title="02:00PM - 05:00PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars other-activities"><dt style="--range-start: 3600;" title="Other Activities">Other Activities</dt>
                  <dd class="other-activities" style="--range-start: 3600; --duration: 16200;" title="09:00AM - 01:30PM"></dd>
                  <dd class="other-activities" style="--range-start: 34200; --duration: 7200;" title="05:30PM - 07:30PM"></dd>
                </dl>
              </div>
              <ul class="gantt-times">
                <li class="time">8</li>
                <li class="time">9</li>
                <li class="time">10</li>
                <li class="time">11</li>
                <li class="time">12</li>
                <li class="time">1</li>
                <li class="time">2</li>
                <li class="time">3</li>
                <li class="time">4</li>
                <li class="time">5</li>
                <li class="time">6</li>
                <li class="time">7</li>
                <li class="time">8</li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="emberconf-day-1">
        <a href="#emberconf-day-1">
          <div class="wrapper">
            <div class="gantt-header">
              <h3>EmberConf Day 1</h3>
              <p>Tuesday, March 19</p>
            </div>
            <div class="gantt-container">
              <ul class="gantt-lines">
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
              </ul>
              <div class="gantt-chart">
                <dl class="gantt-bars gantt-bars registration"><dt style="--range-start: 1800;" title="Registration">Registration</dt>
                  <dd class="registration" style="--range-start: 1800; --duration: 4500;" title="08:30AM - 09:45AM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars keynote"><dt style="--range-start: 5400;" title="Keynote">Keynote</dt>
                  <dd class="keynote" style="--range-start: 5400; --duration: 3600;" title="09:30AM - 10:30AM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars sessions"><dt style="--range-start: 9900;" title="Sessions">Sessions</dt>
                  <dd class="sessions" style="--range-start: 9900; --duration: 4500;" title="10:45AM - 12:00PM"></dd>
                  <dd class="sessions" style="--range-start: 19800; --duration: 7200;" title="01:30PM - 03:30PM"></dd>
                  <dd class="sessions" style="--range-start: 28800; --duration: 7200;" title="04:00PM - 06:00PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars food-breaks"><dt style="--range-start: 14400;" title="Food Breaks">Food Breaks</dt>
                  <dd class="food-breaks" style="--range-start: 14400; --duration: 5400;" title="12:00PM - 01:30PM"></dd>
                  <dd class="food-breaks" style="--range-start: 27000; --duration: 1800;" title="03:30PM - 04:00PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars happy-hour"><dt style="--range-start: 36000;" title="Happy Hour">Happy Hour</dt>
                  <dd class="happy-hour" style="--range-start: 36000; --duration: 3600;" title="06:00PM - 07:00PM"></dd>
                </dl>
              </div>
              <ul class="gantt-times">
                <li class="time">8</li>
                <li class="time">9</li>
                <li class="time">10</li>
                <li class="time">11</li>
                <li class="time">12</li>
                <li class="time">1</li>
                <li class="time">2</li>
                <li class="time">3</li>
                <li class="time">4</li>
                <li class="time">5</li>
                <li class="time">6</li>
                <li class="time">7</li>
                <li class="time">8</li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="emberconf-day-2">
        <a href="#emberconf-day-2">
          <div class="wrapper">
            <div class="gantt-header">
              <h3>EmberConf Day 2</h3>
              <p>Wednesday, March 20</p>
            </div>
            <div class="gantt-container">
              <ul class="gantt-lines">
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
                <li class="line"></li>
              </ul>
              <div class="gantt-chart">
                <dl class="gantt-bars gantt-bars sessions"><dt style="--range-start: 5400;" title="Sessions">Sessions</dt>
                  <dd class="sessions" style="--range-start: 5400; --duration: 9000;" title="09:30AM - 12:00PM"></dd>
                  <dd class="sessions" style="--range-start: 19800; --duration: 7200;" title="01:30PM - 03:30PM"></dd>
                  <dd class="sessions" style="--range-start: 28800; --duration: 4500;" title="04:00PM - 05:15PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars food-breaks"><dt style="--range-start: 14400;" title="Food Breaks">Food Breaks</dt>
                  <dd class="food-breaks" style="--range-start: 14400; --duration: 5400;" title="12:00PM - 01:30PM"></dd>
                  <dd class="food-breaks" style="--range-start: 27000; --duration: 1800;" title="03:30PM - 04:00PM"></dd>
                </dl>
                <dl class="gantt-bars gantt-bars closing-keynote"><dt style="--range-start: 34200;" title="Closing Keynote">Closing Keynote</dt>
                  <dd class="closing-keynote" style="--range-start: 34200; --duration: 2700;" title="05:30PM - 06:15PM"></dd>
                </dl>
              </div>
              <ul class="gantt-times">
                <li class="time">8</li>
                <li class="time">9</li>
                <li class="time">10</li>
                <li class="time">11</li>
                <li class="time">12</li>
                <li class="time">1</li>
                <li class="time">2</li>
                <li class="time">3</li>
                <li class="time">4</li>
                <li class="time">5</li>
                <li class="time">6</li>
                <li class="time">7</li>
                <li class="time">8</li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ol>
  </div>
