<svg xmlns="http://www.w3.org/2000/svg" style="height: 0; width: 0;">
  <defs>
    <linearGradient x1="130%" y1="250%" x2="65%" y2="-30%" id="gradient1">
      <stop stop-color="#391B7A" offset="0%"></stop>
      <stop stop-color="#FEA18F" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="150%" x2="50%" y2="-30%" id="baseGradient">
      <stop stop-color="#F5F4F2" offset="0%"></stop>
      <stop stop-color="#7DA6A7" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="gradient2">
      <stop stop-color="#B1DEF0" offset="0%"></stop>
      <stop stop-color="#59AFC3" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="5%" y1="-15%" x2="15%" y2="150%" id="gradient3">
      <stop stop-color="#3AD3D7" offset="0%"></stop>
      <stop stop-color="#259222" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="100%" x2="50%" y2="-25%" id="gradient4">
      <stop stop-color="#FABD55" offset="0%"></stop>
      <stop stop-color="#FFF6E5" offset="100%"></stop>
    </linearGradient>
    <linearGradient x1="50%" y1="0%" x2="15%" y2="150%" id="gradient5">
      <stop stop-color="#FEA662" offset="0%"></stop>
      <stop stop-color="#E15D44" offset="100%"></stop>
    </linearGradient>
  </defs>
  <symbol id="lightbulb1" viewBox="0 0 16 24">
    <title>Lightbulb</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path class="bulb" d="M10.71238,1.10441127 C14.8442234,2.52711904 16.9168634,6.98743132 15.4941556,11.1192747 C14.3742016,14.3718573 12.1739098,14.3365999 10.1631711,16.2350698 C9.00947838,17.3243466 9.01021197,20.0460379 7.49490228,20.2881639 C6.44447674,20.4560076 5.28513631,20.2683028 4.23788651,19.9077058 C3.19063672,19.5471087 2.16150134,18.9812609 1.43708966,18.2022917 C0.392076936,17.0785761 2.06829551,14.9343057 1.82979899,13.3656596 C1.41413011,10.6317106 -0.261275892,9.07207412 0.778523861,6.05227636 C2.20123164,1.92043297 6.58053663,-0.318296505 10.71238,1.10441127 Z" id="bulb" fill="url(#gradient1)" fill-rule="nonzero"></path>
      <path d="M1.69756938,19.3889588 C2.37925877,19.9421176 3.22234837,20.3537989 4.07495668,20.6308281 C4.92756499,20.9078574 5.85161904,21.0703558 6.72825587,21.023528 L5.7318246,23.1129783 C5.48324913,23.6342246 4.97908698,23.986534 4.40415447,24.0407566 L4.12632012,24.0669594 C3.35756237,24.1394619 2.59301773,23.8910462 2.0136955,23.3805261 L1.80432445,23.1960206 C1.37106548,22.8142168 1.17027201,22.2328534 1.27555111,21.6650473 L1.69756938,19.3889588 Z" id="base" fill="url(#baseGradient)" fill-rule="nonzero"></path>
    </g>
  </symbol>
  <symbol id="lightbulb2" viewBox="0 0 16 24">
    <title>Lightbulb</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path class="bulb" d="M10.71238,1.10441127 C14.8442234,2.52711904 16.9168634,6.98743132 15.4941556,11.1192747 C14.3742016,14.3718573 12.1739098,14.3365999 10.1631711,16.2350698 C9.00947838,17.3243466 9.01021197,20.0460379 7.49490228,20.2881639 C6.44447674,20.4560076 5.28513631,20.2683028 4.23788651,19.9077058 C3.19063672,19.5471087 2.16150134,18.9812609 1.43708966,18.2022917 C0.392076936,17.0785761 2.06829551,14.9343057 1.82979899,13.3656596 C1.41413011,10.6317106 -0.261275892,9.07207412 0.778523861,6.05227636 C2.20123164,1.92043297 6.58053663,-0.318296505 10.71238,1.10441127 Z" id="bulb" fill="url(#gradient2)" fill-rule="nonzero"></path>
      <path d="M1.69756938,19.3889588 C2.37925877,19.9421176 3.22234837,20.3537989 4.07495668,20.6308281 C4.92756499,20.9078574 5.85161904,21.0703558 6.72825587,21.023528 L5.7318246,23.1129783 C5.48324913,23.6342246 4.97908698,23.986534 4.40415447,24.0407566 L4.12632012,24.0669594 C3.35756237,24.1394619 2.59301773,23.8910462 2.0136955,23.3805261 L1.80432445,23.1960206 C1.37106548,22.8142168 1.17027201,22.2328534 1.27555111,21.6650473 L1.69756938,19.3889588 Z" id="base" fill="url(#baseGradient)" fill-rule="nonzero"></path>
    </g>
  </symbol>
  <symbol id="lightbulb3" viewBox="0 0 16 24">
    <title>Lightbulb</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path class="bulb" d="M10.71238,1.10441127 C14.8442234,2.52711904 16.9168634,6.98743132 15.4941556,11.1192747 C14.3742016,14.3718573 12.1739098,14.3365999 10.1631711,16.2350698 C9.00947838,17.3243466 9.01021197,20.0460379 7.49490228,20.2881639 C6.44447674,20.4560076 5.28513631,20.2683028 4.23788651,19.9077058 C3.19063672,19.5471087 2.16150134,18.9812609 1.43708966,18.2022917 C0.392076936,17.0785761 2.06829551,14.9343057 1.82979899,13.3656596 C1.41413011,10.6317106 -0.261275892,9.07207412 0.778523861,6.05227636 C2.20123164,1.92043297 6.58053663,-0.318296505 10.71238,1.10441127 Z" id="bulb" fill="url(#gradient3)" fill-rule="nonzero"></path>
      <path d="M1.69756938,19.3889588 C2.37925877,19.9421176 3.22234837,20.3537989 4.07495668,20.6308281 C4.92756499,20.9078574 5.85161904,21.0703558 6.72825587,21.023528 L5.7318246,23.1129783 C5.48324913,23.6342246 4.97908698,23.986534 4.40415447,24.0407566 L4.12632012,24.0669594 C3.35756237,24.1394619 2.59301773,23.8910462 2.0136955,23.3805261 L1.80432445,23.1960206 C1.37106548,22.8142168 1.17027201,22.2328534 1.27555111,21.6650473 L1.69756938,19.3889588 Z" id="base" fill="url(#baseGradient)" fill-rule="nonzero"></path>
    </g>
  </symbol>
  <symbol id="lightbulb4" viewBox="0 0 16 24">
    <title>Lightbulb</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path class="bulb" d="M10.71238,1.10441127 C14.8442234,2.52711904 16.9168634,6.98743132 15.4941556,11.1192747 C14.3742016,14.3718573 12.1739098,14.3365999 10.1631711,16.2350698 C9.00947838,17.3243466 9.01021197,20.0460379 7.49490228,20.2881639 C6.44447674,20.4560076 5.28513631,20.2683028 4.23788651,19.9077058 C3.19063672,19.5471087 2.16150134,18.9812609 1.43708966,18.2022917 C0.392076936,17.0785761 2.06829551,14.9343057 1.82979899,13.3656596 C1.41413011,10.6317106 -0.261275892,9.07207412 0.778523861,6.05227636 C2.20123164,1.92043297 6.58053663,-0.318296505 10.71238,1.10441127 Z" id="bulb" fill="url(#gradient4)" fill-rule="nonzero"></path>
      <path d="M1.69756938,19.3889588 C2.37925877,19.9421176 3.22234837,20.3537989 4.07495668,20.6308281 C4.92756499,20.9078574 5.85161904,21.0703558 6.72825587,21.023528 L5.7318246,23.1129783 C5.48324913,23.6342246 4.97908698,23.986534 4.40415447,24.0407566 L4.12632012,24.0669594 C3.35756237,24.1394619 2.59301773,23.8910462 2.0136955,23.3805261 L1.80432445,23.1960206 C1.37106548,22.8142168 1.17027201,22.2328534 1.27555111,21.6650473 L1.69756938,19.3889588 Z" id="base" fill="url(#baseGradient)" fill-rule="nonzero"></path>
    </g>
  </symbol>
  <symbol id="lightbulb5" viewBox="0 0 16 24">
    <title>Lightbulb</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path class="bulb" d="M10.71238,1.10441127 C14.8442234,2.52711904 16.9168634,6.98743132 15.4941556,11.1192747 C14.3742016,14.3718573 12.1739098,14.3365999 10.1631711,16.2350698 C9.00947838,17.3243466 9.01021197,20.0460379 7.49490228,20.2881639 C6.44447674,20.4560076 5.28513631,20.2683028 4.23788651,19.9077058 C3.19063672,19.5471087 2.16150134,18.9812609 1.43708966,18.2022917 C0.392076936,17.0785761 2.06829551,14.9343057 1.82979899,13.3656596 C1.41413011,10.6317106 -0.261275892,9.07207412 0.778523861,6.05227636 C2.20123164,1.92043297 6.58053663,-0.318296505 10.71238,1.10441127 Z" id="bulb" fill="url(#gradient5)" fill-rule="nonzero"></path>
      <path d="M1.69756938,19.3889588 C2.37925877,19.9421176 3.22234837,20.3537989 4.07495668,20.6308281 C4.92756499,20.9078574 5.85161904,21.0703558 6.72825587,21.023528 L5.7318246,23.1129783 C5.48324913,23.6342246 4.97908698,23.986534 4.40415447,24.0407566 L4.12632012,24.0669594 C3.35756237,24.1394619 2.59301773,23.8910462 2.0136955,23.3805261 L1.80432445,23.1960206 C1.37106548,22.8142168 1.17027201,22.2328534 1.27555111,21.6650473 L1.69756938,19.3889588 Z" id="base" fill="url(#baseGradient)" fill-rule="nonzero"></path>
    </g>
  </symbol>
</svg>

<section class="body">
  <div class="illustration">
    <svg class="lightbulb1">
      <use xlink:href="#lightbulb1"></use>
    </svg>
    <svg class="lightbulb2">
      <use xlink:href="#lightbulb2"></use>
    </svg>
    <svg class="lightbulb3">
      <use xlink:href="#lightbulb3"></use>
    </svg>
    <svg class="lightbulb4">
      <use xlink:href="#lightbulb4"></use>
    </svg>
    <svg class="lightbulb5">
      <use xlink:href="#lightbulb5"></use>
    </svg>
  </div>

{{yield}}

</section>