<div class="container">
  <h2>Thanks to our past sponsors.</h2>
  <ul>
    <li>
      <a href="https://percy.io/" target="_blank"><img alt="Percy" src="./images/percy-logo.svg"></a>
    </li>
    <li>
      <a href="https://redshelf.com/" target="_blank"><img alt="RedShelf" src="./images/redshelf-logo.png"></a>
    </li>
    <li>
      <a href="https://www.intercom.com/" target="_blank"><img alt="Intercom" src="./images/intercom-logo.png"></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/" target="_blank"><img alt="LinkedIn" src="./images/linkedin-logo.png"></a>
    </li>
    <li>
      <a href="https://squareup.com/" target="_blank"><img alt="Square" src="./images/square-logo.png"></a>
    </li>
    <li>
      <a href="https://www.crowdstrike.com/" target="_blank"><img alt="CrowdStrike" src="./images/crowdstrike-logo.png"></a>
    </li>
    <li>
      <a href="https://www.avalara.com/" target="_blank"><img alt="Avalara" src="./images/avalara-logo.png"></a>
    </li>
    <li>
      <a href="https://sentry.io/" target="_blank"><img alt="Sentry" src="./images/sentry-logo.png"></a>
    </li>
    <li>
      <a href="https://www.nurx.co/" target="_blank"><img alt="Nurx" src="./images/nurx-logo.svg"></a>
    </li>
    <li>
      <a href="https://simplabs.com/" target="_blank"><img alt="simplabs" src="./images/simplabs-logo.png"></a>
    </li>
    <li>
      <a href="https://shipshape.io/" target="_blank"><img alt="ShipShape" src="./images/shipshape-logo.svg"></a>
    </li>
    <li>
      <a href="https://www.rsa.com/" target="_blank"><img alt="RSA" src="./images/rsa-logo.png"></a>
    </li>
    <li>
      <a href="http://codeallday.com/" target="_blank"><img alt="CodeAllDay" src="./images/codeallday-logo.png"></a>
    </li>
    <li>
      <a href="https://www.fastly.com/" target="_blank"><img alt="Fastly" src="./images/fastly-logo.png"></a>
    </li>
    <li>
      <a href="https://www.201-created.com/" target="_blank"><img alt="201 Created" src="./images/201-created-logo.png"></a>
    </li>
    <li>
      <a href="https://embermap.com/" target="_blank"><img alt="EmberMap" src="./images/embermap-logo.svg"></a>
    </li>
    <li>
      <a href="https://wyeworks.com/" target="_blank"><img alt="WyeWorks" src="./images/wyeworks-logo.png"></a>
    </li>
    <li>
      <a href="https://www.activecampaign.com/" target="_blank"><img alt="ActiveCampaign" src="./images/activecampaign-logo.png"></a>
    </li>
    <li>
      <a href="http://www.condenast.com/" target="_blank"><img alt="Conde Nast" src="./images/conde-nast-logo.png"></a>
    </li>
    <li>
      <a href="https://authmaker.com/" target="_blank"><img alt="Authmaker" src="./images/authmaker-logo.svg"></a>
    </li>
  </ul>
</div>
