{{outlet}}
<!DOCTYPE html>
<!-- saved from url=(0022)https://emberconf.com/ -->
<html class=" smil" data-ember-extension="1">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--<script type="text/javascript" async="" src="./images/analytics.js"></script>-->
  <!--<script async="" src="./images/js"></script>-->
  <!--<script>-->
    <!--window.dataLayer = window.dataLayer || [];-->

    <!--function gtag() {-->
      <!--dataLayer.push(arguments);-->
    <!--}-->
    <!--gtag('js', new Date());-->

    <!--gtag('config', 'UA-28329394-6');-->
  <!--</script>-->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="EmberConf 2019">
  <meta property="og:url" content="http://emberconf.com">
  <meta property="og:image" content="http://emberconf.com/images/emberconf-2019-og-logo.png">
  <meta property="og:description" content="Join us March 18-20 in Portland, OR for the flagship event of the Ember Community.">
  <link rel="author" href="https://emberconf.com/humans.txt">
  <!--<link href="./js/site.css" rel="stylesheet">-->
  <!--<link href="./js/css" rel="stylesheet">-->
  <!--<script src="./js/jquery-3.3.1.min.js"></script>-->
  <!--<script src="./js/modernizr-custom.js"></script>-->
  <!--<script src="./js/site.js"></script>-->
  <link rel="apple-touch-icon" href="https://emberconf.com/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://emberconf.com/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://emberconf.com/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="https://emberconf.com/images/favicons/site.webmanifest">
  <link rel="shortcut icon" href="https://emberconf.com/images/favicons/favicon.ico">
  <meta name="msapplication-config" content="images/favicons/browserconfig.xml">
  <link rel="mask-icon" href="https://emberconf.com/images/favicon/safari-pinned-tab.svg" color="#e05c43">
  <meta name="msapplication-TileColor" content="#e05c43">
  <meta name="msapplication-TileImage" content="images/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">
  <title> EmberConf 2019 - March 18-20 - Portland, OR </title>
</head>

<body>
<div id="home">
  <nav class="navigation">
    <div class="logo-and-date">
      <a class="logo active" href="https://emberconf.com/index.html"><img alt="EmberConf 2019" src="./images/emberconf-2019-logo.svg"></a>
      <h3 class="date"><a href="https://emberconf.com/index.html" class="active">March 18–20<br>Portland, OR</a></h3></div>
    <button class="menu-trigger" data-text-swap="Close" href="#">Menu</button>
    <ul>
      <li><a href="https://emberconf.com/schedule.html">Schedule</a></li>
      <li><a href="https://emberconf.com/speakers.html">Speakers</a></li>
      <li class="drawer"><a class="drawer-opener" href="https://emberconf.com/about.html">About</a>
        <ul>
          <li><a href="https://emberconf.com/about.html">About EmberConf</a></li>
          <li><a href="https://emberconf.com/mentorship-program.html">Mentorship Program</a></li>
          <li><a href="https://emberconf.com/inclusiveness-at-emberconf.html">Inclusiveness at EmberConf</a></li>
          <li><a href="https://emberconf.com/faqs.html">FAQs</a></li>
        </ul>
      </li>
      <li><a href="https://emberconf.com/location-and-hotels.html">Location &amp; Hotels</a></li>
      <li><a href="https://emberconf.com/sponsors.html">Sponsors</a></li>
    </ul>
  </nav>
  <header class="page-header">
    <div class="canvas">
      <canvas id="logo-grid" width="1576" height="1258"></canvas>
    </div>
    <div class="container loaded">
      <div class="text">
        <h1> A gathering of the <span>uniquely ambitious.</span> </h1>
        <p>EmberConf is 3 days of activities, sessions, talks and trainings with the Ember Core Team and community members from around the world.</p>
        <p><a class="button stroked" href="https://emberconf.com/about.html">Learn about EmberConf</a></p>
      </div>
      <div class="badge"></div>
    </div>
  </header>
  <section class="body">
    <div class="introduction">
      <div class="container">
        <div class="remind-me">
          <h2>Registration opens December 17.</h2>
          <p>Buy your tickets early before 2018 budgets are gone!</p>
          <div id="mc_embed_signup">
            <form action="https://tilde.us5.list-manage.com/subscribe/post?u=38b10ba9a19dbc7dcef880a53&amp;id=3ef3635767&amp;SOURCE=Ticket-Reminder" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <div class="input-wrapper">
                    <div class="text-input">
                      <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="required email" id="mce-EMAIL"> </div>
                    <div class="submit-button">
                      <input type="submit" value="Get a reminder" name="subscribe" id="mc-embedded-subscribe"> </div>
                  </div>
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input name="b_38b10ba9a19dbc7dcef880a53_433ae4a18f" tabindex="-1" value="">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="featured-speakers registration-closed">
      <div class="container"><img alt="The EmberConf Emcees" class="emcees" src="./images/mcs.png">
        <h3>Hosted by <a href="https://emberconf.com/speakers.html#danielle-adams">Danielle Adams</a> &amp; <a href="https://emberconf.com/speakers.html#vaidehi-joshi">Vaidehi Joshi</a></h3>
        <h2>Featuring talks by...</h2>
        <ul>
          <li>
            <a href="https://emberconf.com/speakers.html#yehuda-katz">
              <div class="image cropped-photo"><img alt="Yehuda Katz" src="./images/yehuda-katz.jpg"></div>
              <p>Yehuda Katz</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#melanie-sumner">
              <div class="image cropped-photo"><img alt="Melanie Sumner" src="./images/melanie-sumner.jpg"></div>
              <p>Melanie Sumner</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#tom-dale">
              <div class="image cropped-photo"><img alt="Tom Dale" src="./images/tom-dale.jpg"></div>
              <p>Tom Dale</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#jessica-jordan">
              <div class="image cropped-photo"><img alt="Jessica Jordan" src="./images/jessica-jordan.jpg"></div>
              <p>Jessica Jordan</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#dianne-eramo">
              <div class="image cropped-photo"><img alt="Dianne Eramo" src="./images/dianne-eramo.jpg"></div>
              <p>Dianne Eramo</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#kenigbolo-meya-stephen">
              <div class="image cropped-photo"><img alt="Kenigbolo Meya Stephen" src="./images/kenigbolo-meya-stephen.jpg"></div>
              <p>Kenigbolo Meya Stephen</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#kavitha-krishnan">
              <div class="image cropped-photo"><img alt="Kavitha Krishnan" src="./images/kavitha-krishnan.jpg"></div>
              <p>Kavitha Krishnan</p>
            </a>
          </li>
          <li>
            <a href="https://emberconf.com/speakers.html#chris-krycho">
              <div class="image cropped-photo"><img alt="Chris Krycho" src="./images/chris-krycho.jpg"></div>
              <p>Chris Krycho</p>
            </a>
          </li>
        </ul><a class="button stroked" href="https://emberconf.com/speakers.html">View all speakers</a></div>
    </div>
    <div class="calls-to-action">
      <div class="container">
        <ul>
          <li class="become-a-sponsor">
            <h3><a href="https://emberconf.com/sponsors.html#become-a-sponsor">Become a sponsor</a></h3>
            <p>Show your support for the Ember community while promoting your product to 1000+ developers. Don't miss the opportunity of the year!</p>
            <p class="cta"><a href="https://emberconf.com/sponsors.html#become-a-sponsor">See Sponsorship Packages</a></p>
          </li>
          <li class="women-get-involved">
            <h3><a href="https://emberconf.com/mentorship-program.html#women-helping-women">Women: Get involved</a></h3>
            <p>There are so many talented women in the Ember community, and we’d all be better off if more were in leadership roles.</p>
            <p class="cta"><a href="https://emberconf.com/mentorship-program.html#women-helping-women">Ember Women Helping Women</a></p>
          </li>
          <li class="apply-for-a-scholarship">
            <h3><a href="https://tilde.wufoo.com/forms/emberconf-2019-scholarships/">Apply for a scholarship</a></h3>
            <p>Free tickets available for community members who might not otherwise be able to make it. Applications open.</p>
            <p class="cta"><a href="https://tilde.wufoo.com/forms/emberconf-2019-scholarships/">Apply Now</a></p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function() {
      $('header .container').addClass('loaded');
    });
  </script>
  <div class="past-friends-footer">
    <div class="container">
      <h2>Thanks to our past sponsors.</h2>
      <ul>
        <li>
          <a href="https://percy.io/" target="_blank"><img alt="Percy" src="./images/percy-logo.svg"></a>
        </li>
        <li>
          <a href="https://redshelf.com/" target="_blank"><img alt="RedShelf" src="./images/redshelf-logo.png"></a>
        </li>
        <li>
          <a href="https://www.intercom.com/" target="_blank"><img alt="Intercom" src="./images/intercom-logo.png"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank"><img alt="LinkedIn" src="./images/linkedin-logo.png"></a>
        </li>
        <li>
          <a href="https://squareup.com/" target="_blank"><img alt="Square" src="./images/square-logo.png"></a>
        </li>
        <li>
          <a href="https://www.crowdstrike.com/" target="_blank"><img alt="CrowdStrike" src="./images/crowdstrike-logo.png"></a>
        </li>
        <li>
          <a href="https://www.avalara.com/" target="_blank"><img alt="Avalara" src="./images/avalara-logo.png"></a>
        </li>
        <li>
          <a href="https://sentry.io/" target="_blank"><img alt="Sentry" src="./images/sentry-logo.png"></a>
        </li>
        <li>
          <a href="https://www.nurx.co/" target="_blank"><img alt="Nurx" src="./images/nurx-logo.svg"></a>
        </li>
        <li>
          <a href="https://simplabs.com/" target="_blank"><img alt="simplabs" src="./images/simplabs-logo.png"></a>
        </li>
        <li>
          <a href="https://shipshape.io/" target="_blank"><img alt="ShipShape" src="./images/shipshape-logo.svg"></a>
        </li>
        <li>
          <a href="https://www.rsa.com/" target="_blank"><img alt="RSA" src="./images/rsa-logo.png"></a>
        </li>
        <li>
          <a href="http://codeallday.com/" target="_blank"><img alt="CodeAllDay" src="./images/codeallday-logo.png"></a>
        </li>
        <li>
          <a href="https://www.fastly.com/" target="_blank"><img alt="Fastly" src="./images/fastly-logo.png"></a>
        </li>
        <li>
          <a href="https://www.201-created.com/" target="_blank"><img alt="201 Created" src="./images/201-created-logo.png"></a>
        </li>
        <li>
          <a href="https://embermap.com/" target="_blank"><img alt="EmberMap" src="./images/embermap-logo.svg"></a>
        </li>
        <li>
          <a href="https://wyeworks.com/" target="_blank"><img alt="WyeWorks" src="./images/wyeworks-logo.png"></a>
        </li>
        <li>
          <a href="https://www.activecampaign.com/" target="_blank"><img alt="ActiveCampaign" src="./images/activecampaign-logo.png"></a>
        </li>
        <li>
          <a href="http://www.condenast.com/" target="_blank"><img alt="Conde Nast" src="./images/conde-nast-logo.png"></a>
        </li>
        <li>
          <a href="https://authmaker.com/" target="_blank"><img alt="Authmaker" src="./images/authmaker-logo.svg"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <nav>
      <div class="container">
        <ul>
          <li><a href="https://emberconf.com/mentorship-program.html#women-helping-women">Women: Get Involved</a></li>
          <li><a href="https://emberconf.com/sponsors.html">Become a Sponsor</a></li>
          <li><a href="https://emberconf.com/code-of-conduct.html">Code of Conduct</a></li>
          <li><a href="https://emberconf.com/faqs.html">FAQs</a></li>
        </ul>
        <ol>
          <li>Past EmberConfs:</li>
          <li><a href="https://2014.emberconf.com/">2014</a></li>
          <li><a href="https://2015.emberconf.com/">2015</a></li>
          <li><a href="https://2016.emberconf.com/">2016</a></li>
          <li><a href="https://2017.emberconf.com/">2017</a></li>
          <li><a href="https://2018.emberconf.com/">2018</a></li>
        </ol>
        <p class="copyright"><a href="https://tilde.io/">© 2018 Tilde Inc</a></p>
      </div>
    </nav>
  </div>
</div>
<script src="./js/canvas.js"></script>
</body>

</html>