{{title "CFP Brainstorm Recap"}}{{head-layout}}
<div id="cfp-brainstorm">
  <Navigation />

  <Header @logoGridWidth=802 @logoGridHeight=767>
    <div class="text">
      <h1>  CFP Brainstorm Recap  </h1>
    </div>
  </Header>

  <section class="body default">
    <div class=introduction>
      <div class=container>
        <p>On October 30th, we hosted an online video chat where members of the Program Committee and Core Team chatted about the CFP, the content they hoped to see, and answered audience questions about ideas and proposals.</p>
        <div class=participants>
          <h3>Participants included</h3>
          <ul>
            <li>
              <div class=cropped-photo><img alt="Amy Lam" src="images/people/amy-lam.jpg" /></div>
              <p class=speaker-name>Amy Lam</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Jessica Jordan" src="images/people/jessica-jordan.jpg" /></div>
              <p class=speaker-name>Jessica Jordan</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Yehuda Katz" src="images/people/yehuda-katz.jpg" /></div>
              <p class=speaker-name>Yehuda Katz</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Godfrey Chan" src="images/people/godfrey-chan.jpg" /></div>
              <p class=speaker-name>Godfrey Chan</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Ricardo Mendes" src="images/people/ricardo-mendes.jpg" /></div>
              <p class=speaker-name>Ricardo Mendes</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Melanie Sumner" src="images/people/melanie-sumner.jpg" /></div>
              <p class=speaker-name>Melanie Sumner</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Leah Silber" src="images/people/leah-silber.jpg" /></div>
              <p class=speaker-name>Leah Silber</p>
            </li>
            <li>
              <div class=cropped-photo><img alt="Edward Faulkner" src="images/people/edward-faulkner.jpg" /></div>
              <p class=speaker-name>Edward Faulkner</p>
            </li>
          </ul>
        </div>
        <div class=brainstorm-audio>
          <h2>Listen to the brainstorm</h2>
          <audio controls="" preload=metadata>
            <source src="https://emberconf.com/audio/EmberConf2019-CFP-Brainstorm.mp3" type="audio/mpeg" />
          </audio>
        </div><a class="button stroked" href="//cfp.emberconf.com/events/emberconf-2019" target=_blank>Submit your proposal</a></div>
    </div>
    <div class=recap>
      <div class=ideas>
        <div class=container>
          <h2>Ideas discussed:</h2>
          <ul>
            <li>Using Engines inside large organizations</li>
            <li>WASM with Ember</li>
            <li>Lifecycle of an RFC</li>
            <li>Maximizing your editor for Ember</li>
            <li>Talks on Addons: surveys and/or deep dives</li>
            <li>Embering in different editors: compare and contrast</li>
            <li>Teaching Ember topics and the lessons learned doing so</li>
            <li>Migrations: large and/or small</li>
            <li>Talks on Ember community methodologies</li>
            <li>Ember apps that are accessible from the start</li>
            <li>General intermediate level content</li>
            <li>Positive/Utilitarian use cases for Ember vs alternatives</li>
            <li>Talks that prepare us for <a href='https://github.com/emberjs/rfcs/blob/26c4d83fb66568e1087a05818fb39a307ebf8da8/text/0000-roadmap-2018.md'>Ember Octane</a>
              <ul class=examples>
                <li>Ember with Module Unification</li>
                <li>Ember with angle brackets</li>
              </ul>
            </li>
            <li>Lessons learned from Ember</li>
            <li>Tips for app longevity from long-standing apps/devs</li>
            <li>Using Ember for assorted hobbies</li>
            <li>Tales of personal journeys to Ember</li>
            <li>Talks about parts of the Ember Community</li>
            <li>Helping your team/boss understand your decision to use Ember</li>
            <li>Visual Testing in Ember</li>
            <li>Introducing Typescript into an existing Ember app</li>
            <li>How to keep apps clean, paying down tech debt in an Ember codebase</li>
            <li>And varied categories of talks: here’s how I solved this specific problem! Here’s how I used Ember to power a toaster! And there’s always space for non technical talks too; team organization, neuroscience, career building, etc.</li>
          </ul>
        </div>
      </div>
      <div class=tips>
        <div class=container>
          <h2>Speaker tips</h2>
          <ul>
            <li>Make sure you've done a good job of integrating Ember into your talk. Sounds obvious, but it gets missed! If your talk features an app you built, it should almost always be an Ember app, for example.</li>
            <li>EmberConf has a friendly and supportive audience: they want you to succeed!</li>
            <li>You don't have to be the author of an Addon to teach the audience about it. To the contrary, you'll have a very different take on it than the author, and your take is incredibly valuable.</li>
            <li>One good idea is to deliver a talk that is an update on one given in a previous year. Past recordings are also a great place to mine for talk ideas!</li>
            <li>Some of the best talks are a combo of lived, personal experience with some takeaways. We want to hear about YOUR experience.</li>
            <li>Can you submit multiple proposals? Yes! But only one would be accepted. And you can get feedback along the way that helps you make your proposal better and better.</li>
            <li>Can you submit mini talks? Yes! It's built-in to the CFP app this year.</li>
            <li>What do you all think of talks along the lines of <em>I learned the lessons from Ember, and here's how I applied them to other frameworks (frontend or otherwise)?</em> One or two talks like this are good for the program, but be detailed! What advice are you planning to give people?</li>
            <li>How can you make sure a proposal doesn’t come across as a product pitch? Try showing things that illustrate the problem rather than primarily your solution. Talk about what it is that you did to solve the problem. Talking about technical problems where the tool used Ember in new and interesting ways is helpful. Share your mental model; how to think about the problem and tools.</li>
            <li>How can an author write about their addon without identifying themselves? Hard to do. Avoid revealing personal information. But many of us have no idea who maintains what. We’ll self-regulate as we do ratings and reviews.</li>
            <li>Try to help make your talk such that everyone in the room feels included. Be welcome! Be inclusive 😀 Empathy is often an inroad to any other topic</li>
            <li>Testing is an important topic, but consider that broad overviews have already been covered. It's better to drill down on a specific aspect.</li>
            <li>Return speakers are welcome! You can build on past talks (yours or someone else's).</li>
            <li>Are opinion talks welcome? I.e. here’s where Ember should be headed? Depends. A strong vision for a11y? Welcome! But something without RFCs and groundwork already in place is less likely to be accepted.</li>
            <li>Be careful with defensive themes to make sure it’s not a negative focus. Remember, we try to be really nice! The occasional joke is ok, but avoid bashing.</li>
            <li>You’re welcome to submit talks that you’ve given at other conferences and meetups. We encourage it! Iterating is the way to improve, right?</li>
          </ul>
        </div>
      </div>
      <div class=references>
        <div class=container>
          <div class=talks>
            <h2>Talks referenced</h2>
            <ul>
              <li><a href="https://www.youtube.com/watch?v=iAyRVPSOpy8" target=_blank>"Say More" by Jamie White</a></li>
              <li><a href="https://www.youtube.com/watch?v=xsG0gDkvDPw" target=_blank>"Growing Ember One Tomster at a Time" by Jamie White</a></li>
              <li><a href="https://www.youtube.com/watch?v=OzcV-4hErBA" target=_blank>"Building a Memex in Ember" by Andrew Louis</a></li>
              <li>"ELS - The Ember Language Server" by Tobias Bieniek <span>(Coming soon)</span></li>
              <li>"Crafting Web Comics with Ember" by Jessica Jordan <span>(Coming soon)</span></li>
            </ul>
          </div>
          <div class=past-brainstorms>
            <h2>Past brainstorms</h2>
            <ul>
              <li>
                <h3>2018</h3>
                <audio controls="" preload=metadata>
                  <source src="https://emberconf.com/audio/EmberConf2018-CFP-Brainstorm.mp3" type="audio/mpeg" />
                </audio>
              </li>
              <li>
                <h3>2017</h3>
                <audio controls="" preload=metadata>
                  <source src="https://emberconf.com/audio/EmberConf2017-CFP-Brainstorm.mp3" type="audio/mpeg" />
                </audio>
              </li>
              <li>
                <h3>2016</h3>
                <audio controls="" preload=metadata>
                  <source src="https://emberconf.com/audio/EmberConf2016-CFP-Brainstorm.mp3" type="audio/mpeg" />
                </audio>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class=submit-cta>
      <div class=container>
        <h2>Ready to become an EmberConf speaker?</h2>
        <p><a class="button stroked" href="//cfp.emberconf.com/events/emberconf-2019" target=_blank>Submit your proposal</a></p>
      </div>
    </div>
  </section>


  <FriendsFooter />

  <Footer />

</div>

