{{head-layout}}
<div id="home">
  <Navigation />

  <Header @logoGridWidth=1576 @logoGridHeight=1258>
    <div class="text">
      <h1> A gathering of the <span>uniquely ambitious.</span> </h1>
      <p>EmberConf is 3 days of activities, sessions, talks and trainings with the Ember Core Team and community members from around the world.</p>
      <p>{{#link-to "schedule" class="button stroked"}}See the schedule{{/link-to}}</p>
    </div>
    <div class="badge"></div>
  </Header>

  <section class="body">

    <div class="featured-speakers registration-open">
      <div class="container"><img alt="The EmberConf Emcees" class="emcees" src="./images/mcs.png">
        <h3>Hosted by <a href="https://emberconf.com/speakers.html#danielle-adams">Danielle Adams</a> &amp; <a href="https://emberconf.com/speakers.html#vaidehi-joshi">Vaidehi Joshi</a></h3>
        <h2>Featuring talks by...</h2>
        <ul>
          {{#each model.speakers as |speaker|}}
            <li>
              {{#link-to "speakers" (query-params anc=speaker.id)}}
                <div class="image cropped-photo"><img alt="{{speaker.name}}" src="./images/people/{{speaker.id}}.jpg"></div>
                <p>{{speaker.name}}</p>
              {{/link-to}}
            </li>
          {{/each}}
        </ul><a class="button stroked" href="https://emberconf.com/speakers.html">View all speakers</a></div>
    </div>
    <div class="calls-to-action">
      <div class="container">
        <ul>
          <li class="become-a-sponsor">
            <h3><a href="https://emberconf.com/sponsors.html#become-a-sponsor">Become a sponsor</a></h3>
            <p>Show your support for the Ember community while promoting your product to 1000+ developers. Don't miss the opportunity of the year!</p>
            <p class="cta"><a href="https://emberconf.com/sponsors.html#become-a-sponsor">See Sponsorship Packages</a></p>
          </li>
          <li class="women-get-involved">
            <h3><a href="https://emberconf.com/mentorship-program.html#women-helping-women">Women: Get involved</a></h3>
            <p>There are so many talented women in the Ember community, and we’d all be better off if more were in leadership roles.</p>
            <p class="cta"><a href="https://emberconf.com/mentorship-program.html#women-helping-women">Ember Women Helping Women</a></p>
          </li>
          <li class="apply-for-a-scholarship">
            <h3><a href="https://tilde.wufoo.com/forms/emberconf-2019-scholarships/">Apply for a scholarship</a></h3>
            <p>Free tickets available for community members who might not otherwise be able to make it. Applications open.</p>
            <p class="cta"><a href="https://tilde.wufoo.com/forms/emberconf-2019-scholarships/">Apply Now</a></p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function() {
      $('header .container').addClass('loaded');
    });
  </script>

  <PastFriendsFooter />

  <Footer />

</div>