{{title "Location and Hotels"}}{{head-layout}}
<div id="location-and-hotels">
  <Navigation />

  <Header @logoGridWidth=802 @logoGridHeight=767>
    <div class="text">
      <h1>  Proudly held in Portland.  </h1>
    </div>
  </Header>

  <svg xmlns="http://www.w3.org/2000/svg" style="height: 0; width: 0;">
    <defs>
      <linearGradient x1="130%" y1="250%" x2="65%" y2="-30%" id="gradient1">
        <stop stop-color="#391B7A" offset="0%"></stop>
        <stop stop-color="#FEA18F" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="150%" x2="50%" y2="-30%" id="baseGradient">
        <stop stop-color="#F5F4F2" offset="0%"></stop>
        <stop stop-color="#7DA6A7" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="gradient2">
        <stop stop-color="#B1DEF0" offset="0%"></stop>
        <stop stop-color="#59AFC3" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="5%" y1="-15%" x2="15%" y2="150%" id="gradient3">
        <stop stop-color="#3AD3D7" offset="0%"></stop>
        <stop stop-color="#259222" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="100%" x2="50%" y2="-25%" id="gradient4">
        <stop stop-color="#FABD55" offset="0%"></stop>
        <stop stop-color="#FFF6E5" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="15%" y2="150%" id="gradient5">
        <stop stop-color="#FEA662" offset="0%"></stop>
        <stop stop-color="#E15D44" offset="100%"></stop>
      </linearGradient>
    </defs>

  </svg>

  <section class=body>
    <div class=introduction>
      <div class=container>
        <div class=text>
          <h2>Meet us at the Oregon Convention Center.</h2>
          <p>We're back at the OCC, just 20 minutes from the Portland International Airport and blocks from our partnering hotels. EmberConf will take place upstairs in the Portland Ballroom and Lobby.</p><a class="button stroked" href="https://goo.gl/maps/C8f7yq7CFkT2" target=_blank>View in Google Maps</a></div>
      </div>
    </div>
    <div class=lodging-options>
      <div class=container>
        <h2>Stay at our partner hotels.</h2>
        <ul class=hotels>
          <li class="hotel doubletree-hotel">
            <div class=information>
              <div class=logo>
                <a href="http://doubletree.hilton.com/en/dt/groups/personalized/R/RLLC-DT-EBR-20190317/index.jhtml" target=_blank><img alt="DoubleTree Hotel" src="images/location-and-hotels/doubletree-hotel-logo.svg" /></a>
              </div>
              <h3><a href="http://doubletree.hilton.com/en/dt/groups/personalized/R/RLLC-DT-EBR-20190317/index.jhtml" target=_blank>DoubleTree Hotel</a></h3>
              <p class=address><a href="https://www.google.com/maps/place/DoubleTree+by+Hilton+Portland/@45.5307109,-122.6577464,17z/data=!3m1!4b1!4m5!3m4!1s0x5495a0b3b9a22425:0xe44c336d8ce0b5c4!8m2!3d45.5307072!4d-122.6555577" target=_blank>1000 NE Multnomah St</a></p>
              <ul class=room-options>
                <li>
                  <h3>1 Queen</h3>
                  <p>$194&nbsp;<span>and up</span></p>
                </li>
                <li>
                  <h3>2 Queen / 1 King </h3>
                  <p>$214&nbsp;<span>and up</span></p>
                </li>
              </ul>
              <p class=cta><a class="button stroked" href="http://doubletree.hilton.com/en/dt/groups/personalized/R/RLLC-DT-EBR-20190317/index.jhtml" target=_blank>Book on Hilton.com</a></p>
            </div>
          </li>
          <li class="hotel airbnb">
            <div class=information>
              <div class=logo>
                <a href="https://www.Airbnb.com/users/tos_confirm?redirect_params[action]=tell_a_friend&redirect_params[code]=lsilber1&redirect_params[controller]=referrals" target=_blank><img alt=Airbnb src="images/location-and-hotels/airbnb-logo.svg" /></a>
              </div>
              <h3><a href="https://www.Airbnb.com/users/tos_confirm?redirect_params[action]=tell_a_friend&redirect_params[code]=lsilber1&redirect_params[controller]=referrals" target=_blank>Airbnb</a></h3>
              <p class=address><a href="https://www.Airbnb.com/users/tos_confirm?redirect_params[action]=tell_a_friend&redirect_params[code]=lsilber1&redirect_params[controller]=referrals" target=_blank>300+ locations</a></p>
              <p>Use our link to get $35 off your first booking!</p>
              <p class=cta><a class="button stroked" href="https://www.Airbnb.com/users/tos_confirm?redirect_params[action]=tell_a_friend&redirect_params[code]=lsilber1&redirect_params[controller]=referrals" target=_blank>Book on Airbnb.com</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class=transportation-options>
      <div class=container>
        <h2>Transportation options</h2>
        <ul>
          <li>
            <h3>Public Transit from PDX</h3>
            <p>Board the MAX Red Line to City Center and Beaverton TC. Exit at the Convention Center MAX Station. Tickets can be purchased at PDX in the boarding area.</p>
          </li>
          <li>
            <h3>Biking</h3>
            <p>Bike parking at the OCC is abundant. <a href='https://www.oregoncc.org/sites/default/files/2017/08/07/bike_racks_parking_garages_map_landscape.pdf' target=_blank>See the map of bike parking locations</a> for more details. Stay safe and be sure to bring a lock!</p>
          </li>
          <li>
            <h3>Rideshare</h3>
            <p>Uber and Lyft are readily available around the city to transport you to and from the conference. <a href='https://www.uber.com/invite/uberTechConf' target=_blank>Use this link</a> and promo code <strong>uberTechConf</strong> to knock $5 off your first Uber ride (code can also be entered in the app).</p>
          </li>
          <li>
            <h3>Accessibility</h3>
            <p>The OCC was built with accessibility in mind. Ramps, no revolving doors, elevators, accessible restrooms and more. For complete and specific details, <a href='https://www.oregoncc.org/accessibility' target=_blank>check out the OCC Accessibility Guide</a>.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <FriendsFooter />

  <Footer />

</div>

