<div id="register">
  <Navigation />

  <header class="page-header">
    <div class="canvas">
      <canvas id="logo-grid" width="802" height="767"></canvas>
    </div>
    <div class="container">
      <div class="text">
        <h1>  Register to attend.  </h1>
      </div>
    </div>
  </header>
  <svg xmlns="http://www.w3.org/2000/svg" style="height: 0; width: 0;">
    <defs>
      <lineargradient x1="130%" y1="250%" x2="65%" y2="-30%" id="gradient1">
        <stop stop-color="#391B7A" offset="0%"></stop>
        <stop stop-color="#FEA18F" offset="100%"></stop>
      </lineargradient>
      <lineargradient x1="50%" y1="150%" x2="50%" y2="-30%" id="baseGradient">
        <stop stop-color="#F5F4F2" offset="0%"></stop>
        <stop stop-color="#7DA6A7" offset="100%"></stop>
      </lineargradient>
      <lineargradient x1="50%" y1="0%" x2="50%" y2="100%" id="gradient2">
        <stop stop-color="#B1DEF0" offset="0%"></stop>
        <stop stop-color="#59AFC3" offset="100%"></stop>
      </lineargradient>
      <lineargradient x1="5%" y1="-15%" x2="15%" y2="150%" id="gradient3">
        <stop stop-color="#3AD3D7" offset="0%"></stop>
        <stop stop-color="#259222" offset="100%"></stop>
      </lineargradient>
      <lineargradient x1="50%" y1="100%" x2="50%" y2="-25%" id="gradient4">
        <stop stop-color="#FABD55" offset="0%"></stop>
        <stop stop-color="#FFF6E5" offset="100%"></stop>
      </lineargradient>
      <lineargradient x1="50%" y1="0%" x2="15%" y2="150%" id="gradient5">
        <stop stop-color="#FEA662" offset="0%"></stop>
        <stop stop-color="#E15D44" offset="100%"></stop>
      </lineargradient>
    </defs>

  </svg>

  <!--<script>-->
  <!--$(document).ready(function() {-->
  <!--$('.illustration').addClass('loaded');-->
  <!--});-->
  <!--</script>-->

  <FriendsFooter />

  <Footer />

</div>

