{{title "Schedule"}}{{head-layout}}
<div id="schedule">
  <Navigation />

  <Header @logoGridWidth=802 @logoGridHeight=767>
    <div class="text">
      <h1>  Three days of learning and sharing.  </h1>
    </div>
  </Header>

  <GantCards />

  <Schedule />

  <FriendsFooter />

  <Footer />

</div>

