{{title "Speakers"}}{{head-layout}}
<div id="speakers">
  <Navigation />

  <Header @logoGridWidth=854 @logoGridHeight=767>
    <div class="text">
      <h1> Led by the community's brightest. </h1>
    </div>
  </Header>

  <Lightbulbs>
    <SpeakerLineup @speakers={{model.speakers}} />
  </Lightbulbs>
  <!--<script>-->
    <!--$(document).ready(function() {-->
      <!--$('.illustration').addClass('loaded');-->
    <!--});-->
  <!--</script>-->

  <FriendsFooter />

  <Footer />

</div>

